.nav {
   display: flex;
   flex-direction:column;
   margin:0 15%; 
   width: 50%;
}
.nav ul{
    display: inline-block;
    
}
.nav li {
    padding: 0 10% 0 0;
    display: inline-block;
    font-size: 1.2em;
   }


   @media only screen and (max-width: 900px) {
    .nav{
        width: 100%;
        
       
            }
        }