.dateCheak {
  float: right;
  border: 1px solid #222222;
  margin-left: auto;
  margin-right: 5%;
  margin-top: -4.5em;
  position: relative;
  height: auto;
  background: rgba(255, 255, 255, 0.6);
}
.book{
  display: inline;
}
.dateInput {
  display: flex;
  flex-direction: row;
}
.pernigth {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
  padding-left: 1em;
}
.price {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
  height: 1.5em;
  width: 100%;
  color: whitesmoke;
  background-color: #222222;
  opacity: 0.6;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.price span{
  font-size: 35px;
}
.dateInput input {
  height: 35px;
  margin: 15px;
  /* padding-left: 15px; */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255);
}
.book button {
  height: 35px;
  width: 90%;
  margin: 35px 5% 35px;
  background: purple;
  border-radius:0;
  font-weight: 300;
}
.select-input {
  width: 90%;
  margin: auto;
}
